.container {
  display: flex;           
  gap: 40px;                
}

.box {
  width: 120px;
  height: 120px;
  display: flex;            
  align-items: start;      
  justify-content: start;  
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
